@{
    ViewData["Title"] = "Home Page";
}


<body class="index-page">
    <main class="main">
        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">

            <img src="~/assets//img/hero-bg.jpg" alt="" >

            <div class="container">
                <h2 >Learning Today,<br>Leading Tomorrow</h2>
                <div class="d-flex mt-4" >
                    <a href="courses.html" class="btn-get-started">Get Started</a>
                </div>
            </div>

        </section>
        <!-- /Hero Section -->

    </main>
</body>


