@model LMS.Models.InstractourModel.Lesson

@{
    ViewData["Title"] = "CreateLesson";
}

<h1>CreateLesson</h1>

<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateLesson">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" type="time" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediaLink" class="control-label"></label>
                <input asp-for="MediaLink" class="form-control" />
                <span asp-validation-for="MediaLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChapterID" class="control-label"></label>
                @* <select asp-for="ChapterID" class ="form-control" asp-items="ViewBag.ChapterID"></select> *@
                <input asp-for="ChapterID" value="@ViewBag.chapterId" class="form-control" />

                
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                @* <select asp-for="ChapterID" class ="form-control" asp-items="ViewBag.ChapterID"></select> *@
                <input asp-for="CourseId" value="@ViewBag.CourseId" class="form-control" />

                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
